RewriteEngine On
RewriteCond %{HTTPS} =off 
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [QSA,L]
RewriteRule ^expert-page/([^/]+)/?$ expert-page.php?name=$1
RewriteRule ^expert-page/([^/]+)/([^/]+)?$ expert-page.php?name=$1&lang=$2
RewriteRule ^publication-page/([^/]+)/?$ publication-page.php?title=$1
RewriteRule ^publication-page/([^/]+)/([^/]+)?$ publication-page.php?title=$1&lang=$2
RewriteRule ^experts/([^/]+)/?$ experts.php?lang=$1
RewriteRule ^experts/?$ experts.php
RewriteRule ^thank-you/([^/]+)/?$ thank-you.php?lang=$1
RewriteRule ^thank-you/?$ thank-you.php
RewriteRule ^about/([^/]+)/?$ about.php?lang=$1
RewriteRule ^about/?$ about.php
RewriteRule ^contacts/([^/]+)/?$ contacts.php?lang=$1
RewriteRule ^contacts/?$ contacts.php
RewriteRule ^services?$ services.php
RewriteRule ^services/([^/]+)/?$ services.php?lang=$1
RewriteRule ^service-page/([^/]+)/?$ service-page.php?name=$1
RewriteRule ^service-page/([^/]+)/([^/]+)?$ service-page.php?name=$1&lang=$2
RewriteRule ^subservice-page/([^/]+)/([^/]+)?$ subservice-page.php?service_name=$1&name=$2
RewriteRule ^subservice-page/([^/]+)/([^/]+)/([^/]+)?$ subservice-page.php?service_name=$1&name=$2&lang=$3
RewriteRule ^offer/?$ offer.php
RewriteRule ^offer/([^/]+)/?$ offer.php?lang=$1
RewriteRule ^offer/([^/]+)/([^/]+)?$ offer.php?service=$1&lang=$2
RewriteRule ^offer/([^/]+)/([^/]+)/([^/]+)?$ offer.php?service=$1&subservice=$2&lang=$3
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /index.php/?lang=$1 [L] 